.App {
  font-family: sans-serif;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-self: flex-start;
  margin-left: auto;
  margin: 5px 0;
  font-size: 20px;
}

.wrapper {
  justify-self: flex-start;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  appearance: none;
  -webkit-appearance: none;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid;
  cursor: pointer;
}

.delete-container {
  margin-left: auto;
  margin-right: 30px;
}
.wrapper {
  width: 20px;
  height: 20px;
}
@keyframes checkAnim {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.checkbox-input:checked {
  background-color: rgb(16, 210, 16);
  transform: rotateX(360deg);
  animation: checkAnim 0.2s forwards;
}

.searchBar {
  height: 30px;
  width: 200px;
  background-color: #e8e8e8;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  outline: none;
  margin-right: 10px;
}

.add-btn {
  height: 30px;
  width: 70px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.delete-btn {
  height: 30px;
  width: 70px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}
